<!DOCTYPE html>
<html>
  <head>
    <title>Blogs</title>
    <link rel='stylesheet' href='/stylesheets/mainpage.css' />
  </head>
  <body>
    <main>
      <h1>Blog Posts</h1>
      <%blogs.forEach((x) => {%>
          <div class="blog">
              <h3><a href="skills/<%=x.id%>"><%=x.username%></a></h3>
              <p><%=x.text%></p>
          </div>
      <%})%>
    </main>
  </body>
</html>