<%- include('../partials/navbar')%>
<div class="container">
    <div class="row justify-content-center">
        <form class="col-5">
            <label>Skill</label>
            <input type="text" class="form-control" placeholder="Critical Thinking">
            <label>Insight</label>
            <input type="text" class="form-control" placeholder="I analyze with a rapid speed">
            <input type="submit" class="form-control btn btn-outline-success">
        </form>
    </div>
</div>
<%- include('../partials/footer')%>