<%- include('../partials/navbar')%>
    <div class="container mt-5">
         <div class="row justify-content-center">
            <div class="card col-5 p-2 text-left">
                <h3><%=data.skill%></h3>
                <h6>Insights:</h6>
                <p><%=data.bio%></p>
            </div>
         </div>
    </div>
<%- include('../partials/footer')%>
